@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --c_primario: var(--c_principal_fuerte);
  --c_primario_claro: var(--c_principal_claro);
}
:root {
  --c_principal_fuerte: #4f46e5; /* color por defecto de la pagina*/
  --c_principal_claro: #818cf8;
}
body {
  @apply transition-colors duration-300;
}